<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>
  <% if enhanced_cart.empty? %>
    <%= render 'empty_cart' %>
  <% else  %>
    <%= render 'item_list' %>
  <% end %>

</section>
